# This is a basic workflow that is manually triggered

name: Cypress Run Test

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  cypress-run:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Runs a single command using the runners shell
    - uses: actions/checkout@v4

    - name: Setup Node.js v24.2.0
      if: steps.cache-node.outputs.cache-hit != 'true'
      uses: actions/setup-node@v4
      with:
        node-version: 24.2.0
        cache: 'yarn'
        check-latest: true
    # Verify Node version
    - name: Check Node version
      run: node --version

    # Verify Yarn version
    - name: Check Yarn version
      run: yarn --version

    # Install project dependencies
    - name: Install dependencies
      run: |
          yarn install -D
          
    - name: Clean cypress artifacts
      run: |
          rm -rf cypress/screenshots/*
          rm -rf cypress/videos/*
          rm -rf cypress/reports/* 

    # Run Cypress with your specific version
    - name: Run Regression with Cypress 14.5.0
      run: | 
          yarn cypress run

    # Artifacts
    - uses: actions/upload-artifact@v4
      if: failure()
      with:
          name: cypress-artifacts-${{ github.run_id }}
          path: |
            cypress/screenshots
            cypress/reports
        
